.Rproj.user/*
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.~lock.*
*/ergative_asya.csv
*/phonetics_nikita.csv
*/other_ilya.csv
*/lexicon_moroz_full.csv
*/sonorant_oblique_in_r_kostya.csv
*/nastya_verb_review-2.xlsx
*/NINA rutul_dialectology_merged_raw_data.xlsx
*/noun_features_2023-05-25.csv
*/rutul_dialectology_Maks.xlsx
*/nastya_verb_review-5.xlsx
