.Rproj.user/*
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.~lock.*
*/asya_features_21-01-24.csv
*/phonetics_nikita.csv
*/rutul_dialectology_ilya.csv
*/lexicon_moroz_full.csv
*/kostya_oblique.csv
*/nastya_verb_review-2.xlsx
*/NINA rutul_dialectology_merged_raw_data.xlsx
*/noun_features_2023-05-25.csv
*/rutul_dialectology_Maks.xlsx
*/verb-28-01-2024-4.xlsx
*/netkachev_oct23.csv
*/rutul_dialects_200.csv
